.container {
  margin: auto;
  width: 100%;
  max-width: 1200px;
  font-family: sans-serif;
  padding: 20px;
  background-color: #f9f9f9;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 20px;
  background-color: #002863;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.logo {
  width: 200px;
  height: auto;
}

.siteName {
  font-size: 1.5rem;
  color: #e80d0d;
}

.slogan {
  font-style: italic;
  color: #f1f0f0;
}

.navLinks {
  display: flex;
  list-style: none;
  padding: 0;
}

.navLinkItem {
  margin: 0 15px;
}

.navLinkText {
  text-decoration: none;
  color: #d21c2e;
}

.mainContent {
  padding: 20px;
}

.footer {
  padding: 2px;
  background-color: #002863;
  box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.footerColumns {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Three columns for larger screens */
  gap: 20px; /* Space between columns */
  padding: 20px; /* Padding around the footer */
}

.footerColumn {
  flex: 1; /* Allow columns to grow equally */
}

.footerCopyright {
  text-align: center; /* Center copyright text */
  padding: 4px; /* Padding for copyright section */
  background-color: #e30b0b; /* Background for copyright */
  color: white; /* Text color for contrast */
  font-size: 10px; /* Smaller font size */
  font-family: Arial, sans-serif; /* Use a clean font */
}


/* Responsive Styles */
@media (max-width: 768px) { /* Adjust this breakpoint as needed */
  .footerColumns {
    grid-template-columns: 1fr; /* Change to one column on mobile */
  }
}


.footerColumn h3 {
  margin-bottom: 10px; /* Space below headers */
  color: #bf0505;
}

.footerColumn p {
  margin: 1px 0; /* Space between paragraphs */
  color: #f1f0f0;
}

.footerColumn a {
  color: rgb(22, 203, 227); /* Change link color to white */
  text-decoration: none; /* Optional: Remove underline */
}

.footerColumn a:hover {
  text-decoration: underline; /* Optional: Add underline on hover */
}


